/* Responsive Mobile Large */
@media screen and (min-width: 375px) {

    /* Side Bar */
    .side-bar {
        width: 200px;
		justify-content: space-between;
	
    }
	
    /* Main Section */
    .main-section {
        width: calc(100% - 200px);
    }
	.logo-mobile{
		display: none;
	}
	.nav-mobile-l{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		max-width: 100%;
		padding: 10px;
	}
	.nav-mobile-low{
		display: flex;
		flex-direction: column;
		max-width: 100%;
		padding: 10px;
	}
	.nav-mobile-low img{
		max-width: 25%;
	}
	
	.nav-mobile-l img{
		max-width: 25%;
	}
	.nav-mobile-low ul{
		color:white;
		display: flex;
		align-items: center;
		
	}
	.nav-mobile-l .logo {
        display: flex;
        max-width: 100%;
        padding: 10px;
		padding-left: 0%;
	}
	.nav-mobile-l ul{
		color:white;
		display: flex;
		align-items: center;
		
	}
	.nav-mobile-l h1{
		color:white;
		display: flex;
		align-items: center;
		margin:2em;
		margin-left: 0%;
	}
	
}

/* Responsive Tablet */
@media screen and (min-width: 425px) {
    :root {
        --col-width: calc((100% - 30px) / 4)
    }
}

/* Responsive Desktop */
@media screen and (min-width: 768px) {
	:root {
        --col-width: calc((100% - 50px) / 6)
    }
}